@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: acumin-pro, system-ui, sans-serif;

}

#delete-button {
    position: absolute;
    bottom: 20px;
    width: 20px;
    right: 20px;
}

.cart-product-flex {
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#underlined {
    text-decoration: underline;
}

#underlined:hover {
   cursor: pointer;
}

#your-cart-price-header {
    position: absolute;
    right: 10px;
    top: 40px;
    text-align: center;
}

#bolder {
    font-weight: 900;
}

.cart {
    font-family: var(--font-style);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 90px;
}

#bottom-border {
    border-bottom: 1px solid black;
}

#top-border {
    border-top: 1px solid black;
}

#cart-empty {
    font-size: 10vmin;
    margin-bottom: 20vmin;
    margin-top: -45vmin;
    text-align: center;
}

.cart-grid::-webkit-scrollbar {
    display: none;
  }

.cart-grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    gap: 30px 40px;
    display: inline-grid;
    justify-items: center;
    margin-top: 40px;
    height: 450px;
    overflow: auto;
}

.col-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
    display: inline-grid;
    justify-items: center;
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.cart-body {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 3px;
    gap: 90px 90px;
    display: inline-grid;
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cart-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.cart-form {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

}

.cart-form > div {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
}
@media only screen and (max-width: 1500px) { 
    .col-grid {
        grid-template-columns: 1fr;
        gap: 45px 0px;
        display: inline-grid;
        justify-items: center;
        margin-top: 40px;
        width: 100%;
        margin-left: none;
        margin-right: none;
    }
}

@media only screen and (max-width: 600px) { 

    #cart-empty {
        font-size: 10vmin;
        margin-bottom: 20vmin;
        margin-top: -95vmin;
        text-align: center;
    }
    .cart-grid {
        grid-template-columns: 1fr;
        grid-gap: 3px;
        gap: 0px 0px;
        display: inline-grid;
        justify-items: center;
        margin-top: 40px;
    }

    .col-grid {
        grid-template-columns: 1fr;
        gap: 0px 0px;
        display: inline-grid;
        justify-items: center;
        margin-top: 40px;
        width: 100%;
        margin-left: none;
        margin-right: none;
    }
    .cart-product-flex {
        width: 90%;
    }
    .cart-form {
        margin-top: 120px;
    }
    #delete-button {
        position: absolute;
        bottom: 60px;
        width: 20px;
        right: 0px;
    }
}