@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}

.cart {
    font-family: var(--font-style);
    height: 100vh;
    margin-top: 300px;
}

.cart-header {
}

.cart-body {
    grid-template-columns: 1fr 1fr ;
    grid-gap: 3px;
    gap: 90px 90px;
    display: inline-grid;
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cart-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.cart-form {
    display: flex;
    flex-direction: column;
    margin: -110px;
}

.cart-form > div {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
}