@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}

.checkoutdiv-product {
    font-family: var(--font-style);
    box-shadow: rgba(87, 86, 86, 0.3) 0px 1px 30px;
    border-radius: 20px;
    width: 60%;
    height: 160px;
    background-color: white;
    transition-delay: 300ms;
    text-decoration: none;
    transition: text-decoration 300ms;
    position: relative;
}
.checkoutdiv-product-flex {
    font-family: var(--font-style);
    display: flex;
    gap: 30px;
}

.checkoutdiv-product-grid {
    font-family: var(--font-style);
    display: grid;
    margin-left: 200px;
} 

.checkoutdiv-product:hover h1{
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 4px;
}

.checkoutdiv-cart-image-div {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
}

.checkoutdiv-cart-image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 160px;
    width: 160px;
}

.checkoutdiv-cart-product-header {
    color: #a8ac91;
    font-size: 20px;
}
@media only screen and (max-width: 1400px) { 
    .checkoutdiv-product {
        margin-top: 30%;
        width: 90%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 600px) { 
    .checkoutdiv-product {
        margin-top: 30%;
        width: 90%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}