.checkout {
    display: flex;
    height: 100vh;
    margin-top: 110px;
    font-family: var(--font-style);
}

.checkout-payment {
    width: 30%;
}
.checkout-cart {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.checkout-cart > .cart {
}
.product-grid0cart-header {
font-family: var(--font-style);

}

#form-main2 {
    margin-left: 200px;
    animation: none;
}
@media only screen and (max-width: 600px) { 
    .checkout {
        display: flex;
        flex-direction: column;
        height: 200vh;
        margin-top: 80px;
    }
    .checkout-payment {
        width: 100%;
    }
    .checkout-cart {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .product-grid0cart-header {
        margin-left: 10vmin;
    font-family: var(--font-style);

    }
    #form-main2 {
        margin-left: 10vmin;
    }
}
