.checkout {
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    margin-top: 5%;
    font-family: var(--font-style);
    width: 70%;
    margin-left: auto;
}

.checkout-payment {
    width: 100%;
}
.checkout-cart {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 5%;
    width: 100%;
}

.checkout-cart > .cart {
}
.product-grid0cart-header {
font-family: var(--font-style);

}

#form-main2 {
    animation: none;
}
@media only screen and (max-width: 1700px) { 
    .checkout {
        display: flex;
        height: 100vh;
        margin-right: auto;
        grid-template-columns: 1fr 1fr;
        font-family: var(--font-style);
        margin-left: auto;
    margin-top: 5%;
    }
    
    .checkout-payment {
        width: 100%;
        margin-left: -4%;
    }
    .checkout-cart {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1300px) { 
    .checkout {
        flex-direction: column;
        height: 100%;
        margin-top: 5%;
        width: 100%;
    }
    .checkout-payment {
        width: 100%;
    margin-left: 0px;

    }
    .checkout-cart {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 0px;
        margin-left:0px;
    }
    .product-grid0cart-header {
        margin-left: 10vmin;
    font-family: var(--font-style);

    }
    #form-main2 {
        margin-left: 10vmin;
    }
}
