/* General Styling */
.home {
    position: relative;
    z-index: 1;
    font-family: var(--font-style);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: 100vh; /* Take full height of the screen */
    color: white;
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
}


.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #ffff;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }

.home-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
}

.home-colored-box {
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    z-index: 2;
    width: 80%;
    font-weight:bolder;
}

.home-colored-box h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight:bolder;
}

.home-colored-box p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-flex-two {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 150px;
    margin-bottom: 150px;
    z-index: 2;
}

.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
}

.home-icons h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.home-icons p {
    font-size: 1rem;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .home {
        height: 100vh;
    }

    .home-flex {
        width: 100%;
        margin-top: 0px;
    }

    .home-colored-box {
        width: 80%;
        padding: 20px;
    }

    .home-colored-box h1 {
        font-size: 1.8rem;
    }

    .home-colored-box p {
        font-size: 1rem;
    }

    .home-flex-two {
        flex-direction: column;
        align-items: center;
    }

    .home-icons {
        width: 80%;
        margin-bottom: 20px;
    }

    .home-icons h2 {
        font-size: 1rem;
    }

    .home-icons p {
        font-size: 0.9rem;
    }
}
