@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}
.home {
    height: 245vh;
    margin-top:200px;
    font-family: var(--font-style);
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#home-collection {
    width: 100%;
    margin-top: 00px;
    margin-bottom: -190px;
}

.home-flex {
    display: flex;
    align-items: center;
    gap: 90px;
}

.home-flex-two {
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: center;
    margin-top: 11%;
    margin-bottom: 31%;
}

.home-collection {
    font-family: var(--font-style);
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.home-collection-grid {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px 10px;
    display: grid;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
}



#box1 {
    width: 300px;
}
#box3 {
    width: 300px;
}
#box2 {
    width: 604px;
    height: 905px;
    /* margin-left: -487px; */
}


.home-colored-box {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding: 90px;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    width: 500px;
    position: absolute;
    margin-left: 10%;
}

.home-colored-image {
    width: 82%;
    border-radius: 15px;
    margin-left: auto;
}

.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    align-items: center;
    z-index: 9;
}

.para-description {
    width: 80%;
    text-align: center;
}

.home-description {
    width: 50%;
    height: 430px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

#description-header {
    text-align: center;
}
#description-para {
    width: 80%;
    font-size: 2vmin;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.home-description-two {
    width: 80%;
    height: 500px;
    background-image:  linear-gradient(320deg, rgba(214, 168, 168, 1) 23%, rgba(158, 92, 139, 1) 100%);
    display: grid;
    margin-top: 170px;
    padding: 60px;
    border-radius: 15px;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#description-header-two {
    color: white;
}
#description-para-two {
    line-height: 2.6;
    color: white;

    width: 29%;
    font-size: 1.8vmin;
}
.home-description-image {
    position: absolute;
    right: 0;
    height: 500px;
}

.home-description-image >img {
    height: 500px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .home-description-two {
        width: 100%;
        margin-top: 300px;
        padding: 20px;
    }
    #description-header-two {
        margin-top: 190px;
        color: white;
    }
    #description-para-two {
        line-height: 2.6;
        color: white;
    
        width: 100%;
        font-size: 2.5vmin;
    }
    .home-description-image {
        position: absolute;
        top: 0;
    }
    .home-description-image >img {
        height: 50%;
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0px;
    }
    .home-description {
        width: 100%;
        height: 410px;
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        padding: 15px;
        border-radius: 15px;
    }
    
    #description-header {
        text-align: center;
    }
    #description-para {
        width: 90%;
        font-size: 4vmin;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    } 
    .home-icons-image {
        width: 70px;
    }
    #home-collection {
        width: 100%;
        margin-top: 200px;
        margin-bottom: -190px;
    }
    .home {
        margin-top: 350px;
        height: 290vh;
    } 
    .home-flex-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        justify-content: center;
        margin-top: 80px;
    margin-bottom: 31%;
        
    }
    .home-icons {
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }
    .home-flex {
    }
    .home-colored-box {
        margin-top: 00px;
        width: 80%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
    
    .home-colored-image {
        width: 80%;
        border-radius: 15px;
        display: none;
    }
}