/* General Styling */
.home {
    position: relative;
    z-index: 1;
    font-family: var(--font-style);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: 100vh; /* Take full height of the screen */
    color: white;
}

.home-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
    margin-top: 180px;
}

.home-colored-box {
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    z-index: 2;
    width: 50%;
}

.home-colored-box h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.home-colored-box p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-flex-two {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 150px;
    margin-bottom: 150px;
    z-index: 2;
}

.home-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
}

.home-icons h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.home-icons p {
    font-size: 1rem;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .home {
        height: auto;
        padding-top: 20vh;
    }

    .home-flex {
        width: 100%;
        margin-top: 0px;
    }

    .home-colored-box {
        width: 80%;
        padding: 20px;
    }

    .home-colored-box h1 {
        font-size: 1.8rem;
    }

    .home-colored-box p {
        font-size: 1rem;
    }

    .home-flex-two {
        flex-direction: column;
        align-items: center;
    }

    .home-icons {
        width: 80%;
        margin-bottom: 20px;
    }

    .home-icons h2 {
        font-size: 1rem;
    }

    .home-icons p {
        font-size: 0.9rem;
    }
}
