@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');
:root {
  margin: 0;
  padding: 0;
  --font-color: black;
  --font-color-hover: #FF5F00;
  --font-color-shadow: rgb(255, 255, 255);
  --background-color: white;
  --font-style: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    font-family: var(--font-style);
    margin-top: 20px;
    gap: 900px;
    height: 20%;
    z-index: 10;
    position: fixed;
}
.right-navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
  }
  
  .right-navbar-text {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px; /* Adjust the spacing between elements */
    color: #000; /* Adjust color if needed */
  }
  
  .right-navbar-text:hover {
    text-decoration: underline;
    color: #555; /* Optional: change color on hover */
  }

.navbar-name {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

/* .navbar > div {
    position: absolute;
    right: 10vmin;
    margin-right: 20%;
} */

.navbar h1 {
    margin: 0;
    padding: 0;
    margin-left: 20%;
}

h1 > a {
    font-size: 20px;
}

h1 > a:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

.right-navbar-icon {
    height: 30%;
}

.right-navbar-icon:hover {
    -webkit-filter: drop-shadow(1px 1px 1px rgb(146, 144, 144));
    filter: drop-shadow(1px 1px 1px rgb(146, 144, 144));
}

#headline {
    position: absolute;
    left: 30vmin;
    margin-top: -20px;
}

.right-navbar {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 40%
}

@media only screen and (max-width: 1400px) { 
}

@media only screen and (max-width: 600px) { 
    .navbar > div {
        position: absolute;
        left: 10%;
        margin-right: 5%;
        width: 70%;
    }
    .navbar h1 {
        margin: 0;
        padding: 0;
        margin-inline: 0;
        margin-black: 0;
        margin-left: 23px;  
    }
    #headline {
        position: absolute;
        left: -22vmin;
        margin-top: -300px;
    }
    
    img {
        width: 8%;
    }
    .right-navbar {
        margin-top: 10px;
        display: flex;
        gap: 40px;
        position: absolute;
        right: 0;
        justify-content: flex-end;
    }
    #headline {
        font-size: 30px;
        margin-top: -30px;
        margin-left: 22%;
    }
}