.order-div {
    padding: 0px;
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    height: 30%;
    position: relative;
    display: flex;
    max-width: 115vmin;
    gap: 110px;
    box-shadow: 10px 0px 20px rgb(209, 209, 209);
    
}

#var-font {
    font-size: 0.9rem;
}

.order-div-image-one {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin-left: 0px;
}
.order-div-image-two {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 40px;
    box-shadow: 0px 0px 20px #fff;
}
.order-div-image-three {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 80px;
    box-shadow: 0px 0px 20px #fff;
}

.order-div-image-one-image {
    border-radius: 10px;
}
.order-div-image-two-image {
    border-radius: 10px;
}
.order-div-image-three-image {
    border-radius: 10px;
}

.order-div-one {
    display: flex;
}
.order-div-one {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .order-div-image-one-image {
        width: 200px;
    height: 200px;
    }
    .order-div-image-two-image {
        width: 200px;
    height: 200px;
    }
    .order-div-image-three-image {
        width: 200px;
        height: 200px;
    }

 }